<% content_for :title, "Admin - New Post" %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card border-0 shadow-sm">
        <div class="card-header bg-white py-3">
          <h1 class="h3 mb-0">New Blog Post</h1>
        </div>
        <div class="card-body p-4">
          <%= render 'admin/posts/form' %>
        </div>
      </div>
    </div>
  </div>
</div>